/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */





.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(71, 61.2, 52.5, 0.7);
  color:white;
  position: relative;
  text-align: center;
}

.thumb {
  max-height: 20em;
  font-weight: bold;

}

.feature {
  max-width: 100%;
}


body {
  background-image: url("patrick-hendry-431197-unsplash.jpg");
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:100% auto;
  background-size:cover;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:white;
    text-align: center;
}

ul {
  color:white;
  text-align: center;
  list-style-type: none;
}

nav {
  color:white;
  font-weight: bold;
  font-size: 1em;
  /* font-style: italic; */
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div {
  color:white;
}

h2 {
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;

}

.navbar-brand {
    color:red;
    text-shadow: 0px 3px 0px #b2a98f,

             0px 14px 10px rgba(0,0,0,0.15),

             0px 24px 2px rgba(0,0,0,0.1),

             0px 34px 30px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 2.3em;

}

div a {
    padding-left: 10px;
    padding-right: 10px;
}

p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.4em;
}

.navbar-nav {
  display: inline;
  background-color: #dddddd;

  padding: 8px;
}

.nav-item {
  display: inline;
  border-right: 1px solid black;
}

.nav-item:last-child {
  border-right: none;
}

.nav-link {
  color: black
}

/* .image {

  width: 100%;
  height: auto;
} */

/* .gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 270px;
} */

/* div.gallery:hover {
  border: 5px solid #777;
} */

div.gallery img {
  width: 50%;
  height: auto;
}

.big {
  font-weight: bold;
  font-size: 1.3em;
}
